@model IEnumerable<WebAppLab2Turma2017.Models.ViewModels.ProdutoPorIntervalorViewModel>


<h2>
   Produtos com  Valores maiores >=100 e <=1800
</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProduto)
        </td>
      
    </tr>
}

</table>
