@model IEnumerable<WebAppLab2Turma2017.Models.ViewModels.ProdutoCategoriaViewModel>

@{
    ViewBag.Title = "ProdutosCategorias";
}

<h2>Produtos X Categorias</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoCategoria)
        </td>
        <td>
            @Html.ActionLink("Voltar", "Index", "Produto" ) 
        
        </td>
    </tr>
}

</table>
